{% extends 'layout.html.twig' %}

{% block content %}
    {{ parent() }}
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-40 padding-bottom-40">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Job & You</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Mot de passe oublié</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Candidates Details -->
    <div class="alice-bg section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="white-bg others-block">
                        <div class="padding-top-40 padding-bottom-40">
                            <div class="container">
                                <form action="{{ path('forgot_password') }}" method="post" class="job-post-form">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4>Mot de passe oublié ?</h4><br/>
                                            <p style="margin-bottom: 20px;">Ne vous en faites pas. Indiquez-nous votre adresse e-mail (que vous soyez un candidat ou une entreprise) afin que nous puissions vous envoyer un lien vous permettant de réinitialiser votre mot de passe.</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Votre adresse e-mail : </label>
                                                <div class="col-sm-5">
                                                    <input type="email" class="form-control" name="email" placeholder="Votre adresse e-mail">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12 text-center">
                                            <button class="button" type="submit">Envoyer</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Candidates Details End -->
{% endblock %}

