<div class="col-12">
    <!-- Fun Facts -->
    <div class="padding-top-40 padding-bottom-40 fact-bg" style="background-repeat: repeat-y; background-size: initial;margin-bottom: 40px;">
        <div class="container">
            <div class="row fact-items">
                <div class="col-12">
                    <p style="text-align: center; color: white;margin-top:-15px;margin-bottom:20px;">Options à indiquer sur le bon de commande qui vous sera communiqué</p>
                    <div class="package-wrapper">
                        <div class="package free">
                            <div class="package-header">
                                <h5 class="cost">9M²<span> | 1000€HT</span></h5>
                                <span class="title">STAND DE 9M²</span>
                            </div>
                            <div class="package-features">
                                <a href="javascript:void(0)" title="À indiquer sur le bon de commande qui vous sera communiqué">
                                    <ul>
                                        <li>Pack 1 : Initial</li>
                                        <ul>
                                            <li>Enseigne</li>
                                            <li>Prise électrique 16A</li>
                                            <li>Corbeille 28L</li>
                                        </ul>
                                        <li>Pack 2 : Version basse</li>
                                        <ul>
                                            <li>Pack 1</li>
                                            <li>3 chaises</li>
                                            <li>1 table</li>
                                        </ul>
                                        <li>Pack 3 : Version lounge</li>
                                        <ul>
                                            <li>Pack 1</li>
                                            <li>2 fauteuils</li>
                                            <li>1 table basse</li>
                                        </ul>
                                    </ul>
                                </a>
                            </div>
                        </div>
                        <div class="package free">
                            <div class="package-header">
                                <h5 class="cost">18M²<span> | 1500€HT</span></h5>
                                <span class="title">STAND DE 18M²</span>
                            </div>
                            <div class="package-features">
                                <a href="javascript:void(0)" title="À indiquer sur le bon de commande qui vous sera communiqué">
                                    <ul>
                                        <li>Pack 1 : Initial</li>
                                        <ul>
                                            <li>Enseigne</li>
                                            <li>Prise électrique 16A</li>
                                            <li>Corbeille 28L</li>
                                        </ul>
                                        <li>Pack 2 : Version basse</li>
                                        <ul>
                                            <li>Pack 1</li>
                                            <li>3 chaises</li>
                                            <li>1 table</li>
                                            <li>1 borne d'accueil</li>
                                            <li>2 tabourets</li>
                                        </ul>
                                        <li>Pack 3 : Version lounge</li>
                                        <ul>
                                            <li>Pack 1</li>
                                            <li>2 fauteuils</li>
                                            <li>1 table basse</li>
                                            <li>1 borne d'accueil</li>
                                            <li>2 tabourets</li>
                                        </ul>
                                    </ul>
                                </a>
                            </div>
                        </div>
                        <div class="package free">
                            <div class="package-header">
                                <h5 class="cost">27M²<span> | 2500€HT</span></h5>
                                <span class="title">STAND DE 27M²</span>
                            </div>
                            <div class="package-features">
                                <a href="javascript:void(0)" title="À indiquer sur le bon de commande qui vous sera communiqué">
                                    <ul>
                                        <li>Pack 1 : Initial</li>
                                        <ul>
                                            <li>Enseigne</li>
                                            <li>Prise électrique 16A</li>
                                            <li>Corbeille 28L</li>
                                        </ul>
                                        <li>Pack 2 : Version basse</li>
                                        <ul>
                                            <li>Pack 1</li>
                                            <li>6 chaises</li>
                                            <li>2 table</li>
                                            <li>1 borne d'accueil</li>
                                            <li>2 tabourets</li>
                                        </ul>
                                        <li>Pack 3 : Version lounge</li>
                                        <ul>
                                            <li>Pack 1</li>
                                            <li>4 fauteuils</li>
                                            <li>2 table basse</li>
                                            <li>1 borne d'accueil</li>
                                            <li>2 tabourets</li>
                                        </ul>
                                    </ul>
                                </a>
                            </div>
                        </div>
                        <div class="package professional">
                            <div class="package-header">
                                <h5 class="cost">750€HT</h5>
                                <span class="title">FORFAIT COMMUNICATION</span>
                            </div>
                            <div class="package-features">
                                <ul>
                                    <li class="active">Interview personnalisée</li>
                                    <li class="active">Vidéo de votre stand</li>
                                    <li class="active">Événements post-salon</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fun Facts End -->
</div>